boto3==1.14.38
botocore==1.17.38
pyyaml==5.3.1
docutils==0.15.2
python-dateutil==2.8.1
requests==2.24.0
idna==2.10
neotime==1.7.4
neobolt==1.7.17
chardet==3.0.4
#python_abi==3.8
validators==0.14.2
urllib3==1.25.10
pytz==2020.1
jmespath==0.10.0
neo4j==1.7.6
six==1.15.0
s3transfer==0.3.3
pandas
openpyxl
